*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F222C;
    width: 500px;
    height: 500px;
    padding: 30px;

}
.card{
    position: relative;
    width: calc(50% - 20px);
    height: 200px;
    border-radius: 10px;
    background-color: #474c5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.card .icon{
    width: 50px;
    height: 50px;
    background-color: #85E6FA;
    margin-bottom: 10px;
}
.card .text{
    color: #85E6FA;
}
.card .check{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color:darkgray;
    border-radius: 20px;
}
