* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{

    font-family: 'Open Sans';
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}
a{
    text-decoration: none;
}

p{
    padding: 1.6rem 0;
}
img{
    width: 100%;
    height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;

}
header{
    height: 45rem;
}

header .bg-image{
    position: absolute ;
    background-image: url('/responsive-deneme/img/business-team-P4Y8CLM.jpg');
    background-size: cover;
    background-position: center;
    height: 45rem;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
header h1{
    padding: 11rem;
    padding-bottom: 0;
}
.btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.3s;

}
.btn:hover{
    color:#333;
    background-color: #eaeaea;

}
#section-a{
    background-color: #eaeaea;
    color:#333;
    padding: 3.2rem 0;
}
#section-b{
    padding: 2rem;
}
#section-b ul{
    list-style: none;
}
#section-b li{
    background: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-centent{
    padding: 1.5rem;
}
#seciton-c{
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;
}
#section-d .box{
    padding: 5rem;
}
#section-d .box:first-child{
    background-color: #2690d4;
}
footer{
    padding: 4rem;
    background: #000;
}
footer a{
    color: blue; 
}

@media screen and (min-width:700px){
    #section-b li { 
        width: 28%;
        margin: 1%;
        display: inline-block;
    }

    .box{
        width: 50%;
        float: left;
    }
    html{
        font-size: 16px;
    }
}

