:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    
    
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

a{
    color: var(--Bright-blue);
}

body {
    font-family: 'Red Hat Display';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

p{
    margin:0;
}
.background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1000;
    background-color: var(--Pale-blue);
}

.background img{
    width: 100%;
}

.container{
    width: 450px;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}
.container .image img{
    border-radius: 1rem 1rem 0 0;
}

.order-summary h1 {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--Dark-blue)
}

.container p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Desaturated-blue);
    line-height: 1.6;
}

.order-summary{
    margin: 3rem 3rem 1.2rem;
}

.plan-container{
    display: flex !important;
    background-color: var(--Very-pale-blue);
    margin: 0 2.5rem;
    border-radius: 0.7rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;

}
.icon-price{
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    
}
.icon-price img{
    margin-right: 1.3em;
}
.change{
    transition: 0.2s ease;
}
.change:hover {
    opacity: 80%;
}
.payment{
    background-color: var(--Bright-blue);
    margin: 2.5rem 2.5rem 1rem;
    padding:1rem 0;
    border-radius: 0.7rem;
    box-shadow: 0 0.5rem 2.5rem -1rem var(--Bright-blue);
    transition: 0.2s ease;
}
.payment:hover {
    opacity: 80%;
    cursor: pointer;
}
.payment p{
    color: white;
}
.cancel{
    margin: 1.8rem 2rem 2rem;
}
.cancel p {
    font-weight:700;
    transition: 0.2s ease;
}
.cancel p:hover {
    cursor: pointer;
    color: var(--Dark-blue);
}
.attribution {
    margin-top: 2rem;
}